{% extends 'base.html' %}
{% block content %}
	<div>
		<form method="post", action="" class="registry">

			{{ form.hidden_tag() }}

			<fieldset>
				<div>

				{{ form.email.label(class='label') }}<br>

				{% if form.email.errors %}

					{{ form.email (class="input") }}<br>

					<div class='danger'>
						{% for error in form.email.errors %}
					<span>{{ error }}</span>

					{% endfor %}
					</div>

				{% else %}

					{{ form.email (class="input") }}

				{% endif %}





				{{ form.password.label(class='label') }}<br>

					{% if form.password.errors %}

					{{ form.password (class="input") }}<br>

					<div class='danger'>
						{% for error in form.password.errors %}
						<span>{{ error }}</span>

					{% endfor %}
					</div>

				{% else %}

					{{ form.password (class="input") }}

				{% endif %}

					

				</div>

				
				
			</fieldset>
			<div class="registry-bottom">
				{{ form.submit(class="submit") }}
			<small class="text-muted">
					Need an account? <a href="{{ url_for('registration') }}">Sign Up</a>
			</small>

			</div>
			
		</form>

	</div>

{% endblock %}